[project]
name = "mipt-msai-algorithms"
version = "0.1.0"
description = "MIPT MSAI Algorithms Course"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.0",
]
